<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <RollingFile name="VertxTestAppender"
                 fileName="${main:0:-test}/vertx-test-log.log"
                 filePattern="${main:0:-test}/vertx-test-log-%i.log.gz"
                 ignoreExceptions="false">
      <PatternLayout pattern="[%d{dd-MM HH:mm:ss,SSS}] [%-5p] %t - %c : %m%ex%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="100 MB"/>
        <OnStartupTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <Async name="AsyncFile">
      <AppenderRef ref="VertxTestAppender"/>
    </Async>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="AsyncFile"/>
    </Root>
  </Loggers>
</Configuration>